## The following requirements were added by pip freeze:
asgiref==3.7.2
certifi==2024.2.2
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
coverage==7.6.1
cssbeautifier==1.15.1
Django==5.0.2
django-cors-headers==4.3.1
django-resized==1.0.3
django-stubs==4.2.7
django-stubs-ext==4.2.7
djangorestframework==3.14.0
djangorestframework-stubs==3.14.5
djlint==1.35.2
EditorConfig==0.12.4
html-tag-names==0.1.2
html-void-elements==0.1.0
idna==3.6
jsbeautifier==1.15.1
json5==0.9.25
pathspec==0.12.1
pillow==10.4.0
psycopg2-binary==2.9.9
python-dotenv==1.0.1
pytz==2024.1
PyYAML==6.0.2
regex==2024.7.24
requests==2.31.0
six==1.16.0
sqlparse==0.4.4
tomli==2.0.1
tqdm==4.66.5
types-pytz==2024.1.0.20240203
types-PyYAML==6.0.12.12
types-requests==2.31.0.20240125
typing_extensions==4.9.0
urllib3==2.2.0
