:root,
button,
input {
  --dark-text: #ffffff;
  --background: #151718;
  --primary: #202122;
  --secondary: #2775e0;
  --accent: #e94f37;
  --light-accent: rgba(233, 79, 55, 0.6);
  --tertiary: #879e14;
  --light-text: #ffffff;
  --page-background: #0d0d0e;
  --header-font-size: 32px;
  --subheader-font-size: 32px;
  --navbar-font-size: 20px;
  --subtext-font-size: 20px;
  --link-font-size: 17px;
  --text-size: 20px;
  --small-text-size: 14px;
  --light-border-color: rgba(255, 255, 255, 0.4);
  --extremely-light-border-color: rgba(255, 255, 255, 0.1);
  --landing-page-header: 40px;
  --light-svg-color: rgba(255, 255, 255, 0.85);
  --button-font-size: 18px;
  font-family: "Raleway", "Times New Roman", Times, serif;
  background: var(--page-background);
  color: var(--light-text);
}

hr {
  width: 100px;
  margin: 0;
}

.spacing-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.delete-wrapper button {
  height: 29px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.delete-wrapper svg {
  width: 16px;
}

button:disabled {
  color: var(--page-background) !important;
}

.error-mui-alert .MuiAlert-icon svg {
  color: var(--accent);
}

.error-mui-alert {
  border: var(--light-border-color) 1px solid;
}

.custom-form .special-button {
  min-width: 50px;
  margin: 0 auto;
}

.margin-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

fieldset {
  width: 95%;
  border: var(--light-border-color) solid 1px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.blogpost-thumbnail {
  height: 162px;
  width: 288px;
  border-radius: 10px;
}

.post-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  max-width: 900px;
}

.EasyMDEContainer,
.simplemde-wrapper {
  width: 85vw;
  max-width: 900px;
}

.post-form .flex-row-spacing {
  width: 85vw;
  max-width: 900px;
}

#notifications .unread-notification {
  border: var(--light-text) 2px solid !important;
}

.text-box {
  padding: 6px 12px;
  border-radius: 10px;
  border: var(--light-border-color) solid 1px;
}

.text-box p {
  margin: 0;
}

#dashboard .blog-post {
  width: 90%;
}

.general-mui-alert {
  border: var(--light-border-color) 1px solid;
}

.general-mui-alert .MuiAlert-icon svg {
  color: var(--tertiary);
}

.general-mui-alert .MuiAlert-action {
  padding: 0;
  margin-left: 20px;
  justify-content: center;
  align-items: center;
}

[data-testid="NotificationsActiveIcon"],
[data-testid="DeleteIcon"] {
  color: var(--accent) !important;
}

.flex-row-spacing {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.vertical-margin-50 {
  margin: 50px 0;
}

#blog-post {
  width: 95%;
  margin: 0 auto;
}

#blog-post h1 {
  margin-top: 35px;
  margin-bottom: 35px;
}

#blog-post a {
  margin: 0;
}

.text-based-page img {
  margin: 50px auto;
  border-radius: 5px;
}

.edit-comment-form,
.reply-comment-form {
  padding: 0;
  width: 85vw;
  margin-top: 8px;
  max-width: 550px;
  margin-bottom: 12px;
}

.reply-to-reply-comment-form {
  width: calc(85vw - 50px);
  max-width: 500px;
  margin-left: 50px;
}

.reply-to-reply-comment-form textarea {
  width: 100%;
}

.create-comment-form {
  padding: 0;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 60px;
  max-width: 650px;
}

.create-comment-form textarea {
  margin: 0 auto;
  padding: 1%;
  width: 98%;
  height: 7em;
}

.create-comment-form button {
  padding: 10px 20px;
  background: var(--tertiary);
  color: var(--light-text);
  border-radius: 10px;
  border: none;
  margin-top: 10px;
}

.edit-comment-form textarea {
  margin-bottom: 5px;
  padding: 0;
  width: 100%;
}

body {
  margin: 0;
}

.edit-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.right-align {
  justify-content: flex-end;
}

.confirmation-modal button {
  width: 20%;
  margin: 10px auto;
  padding: 10px;
  border-radius: 10px;
}

.confirmation-modal h1 {
  font-size: 24px;
}

.accent-border {
  border: var(--accent) solid 1px;
}

.tertiary-border {
  border: var(--tertiary) solid 1px;
}

.edit-buttons button {
  background: none;
  border: none;
}

.accent-highlight {
  color: var(--accent);
}

.custom-form {
  width: 80vw;
  max-width: 670px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  background: var(--background);
  border: none;
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 30px;
  padding: 10px;
  height: min-content;
  overflow: auto;
}

.custom-form form {
  gap: 10px;
  display: flex;
  flex-direction: column;
  width: 84%;
}

.custom-form label {
  margin-right: auto;
  font-size: var(--link-font-size);
  text-wrap: nowrap;
  margin-bottom: 4px;
  margin-top: 9px;
  font-style: italic;
  font-weight: 300;
}

.custom-form input {
  border-radius: 10px;
  border: none;
  padding: 6px;
  color: var(--light-text);
  width: 95%;
  margin-right: auto;
  outline: none;
}

.custom-form .item.link-item {
  flex-direction: row;
  margin-bottom: 5px;
}

.custom-form .link-item button,
.custom-form .icon-button {
  border: none;
  background: none;
  width: min-content;
  padding: 0;
  margin-left: 10px;
}

.custom-form .icon-button {
  margin: 0;
  margin-left: auto;
}

.custom-form .link-item p {
  width: min-content;
  margin: 0px 10px;
}

.custom-form button {
  color: var(--accent);
  padding: 5px 15px;
  background: var(--page-background);
  border: none;
  border-radius: 10px;
  margin-top: 15px;
  margin-bottom: 5px;
}

.custom-form a {
  color: var(--accent);
}

.custom-form .password {
  display: flex;
  flex-direction: row;
  width: 95%;
  margin-right: auto;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

.standard-button {
  transition: all 0.2s ease-in-out 0ms;
  border-radius: 10px;
  font-size: 16px;
  border: var(--light-accent) solid 1px;
  padding: 10px;
}

.standard-button * {
  color: var(--light-text) !important;
}

.standard-button:hover {
  background-color: var(--light-accent);
  box-shadow: 0px 0px 20px -18px;
}

.standard-button:active {
  transform: scale(0.95);
}

.custom-form #save,
button[type="submit"] {
  color: var(--light-text);
  width: 200px;
  margin: 20px auto;
  border: var(--tertiary) solid 1px;
}

.custom-form .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--light-text);
  width: 100%;
}

.username-box a {
  display: flex;
  align-items: center;
}

#language-field {
  display: none;
}

.save-button {
  color: var(--light-text);
  padding: 6px 50px;
  background: var(--tertiary);
  border: 0px;
  border-radius: 10px;
  font-size: var(--subtext-font-size);
}

.info-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  width: 70%;
  margin: 0 auto;
  justify-content: center;
  gap: 35px;
  margin-bottom: 50px;
}

img {
  width: 90px;
}

#create-post img,
#blog-post img {
  max-width: 80vw;
  width: auto;
}

.info-bar-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}

.username-box span {
  font-size: var(--navbar-font-size);
}

.username-box-no-change {
  margin: 0 !important;
  background: none !important;
}

.username-box-no-change span {
  color: var(--dark-text) !important;
}

#member-since,
.sub-date-field {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  width: fit-content;
}

#member-since {
  gap: 6px;
}

.date-field {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.date-field p {
  margin-top: 3px;
  margin-bottom: 8px;
}

.edited-on {
  font-style: italic;
  margin-top: 3px;
  font-size: var(--small-text-size);
}

.comment-content {
  margin-top: 12px;
  margin-bottom: 12px;
  text-align: left;
  width: 100%;
}

.comment-reply .edit-comment-form {
  width: calc(85vw - 50px);
  max-width: 500px;
}

.blog-post-content {
  width: 100%;
}

.blog-post-content-align-center p {
  text-align: center;
}

.blog-post-content-align-left p {
  text-align: left;
}

.username-box #pfp {
  border-radius: 50%;
  height: 54px;
  width: 54px;
}

.top-bar a {
  text-decoration: none;
  color: var(--light-text);
}

.pfp {
  border-radius: 50%;
  height: 38px;
  width: 38px;
}

.comment-username-box,
.profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

a:visited,
a {
  text-decoration: none;
  color: var(--secondary);
}

.profile {
  gap: 14px;
  color: var(--light-text);
  padding: 6px 12px;
  border: var(--light-border-color) solid 1px;
  border-radius: 10px;
  width: min-content;
}

.profile a {
  color: var(--light-text);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile svg {
  color: var(--tertiary);
  padding: 0;
}

.follow-list {
  display: flex;
  flex-direction: row;
  width: 90%;
  max-width: 650px;
  justify-content: center;
  margin: 0 auto;
  margin-top: 30px;
  gap: 10px;
  flex-wrap: wrap;
}

textarea {
  resize: none;
  height: 3lh;
  font-family: inherit;
  font-size: var(--small-text-size);
  border-radius: 4px;
  border: 1px var(--light-border-color) solid;
  padding: 4px;
  background: var(--page-background);
  color: var(--light-text);
}

.links-list {
  width: 100%;
}

.modal {
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
  max-width: 320px;
  height: 90vh;
  max-height: 300px;
  background: var(--primary);
  padding: 10px;
  border-radius: 10px;
  border: var(--light-border-color) 2px solid;
  gap: 10px;
  height: auto;
}

.custom-form textarea {
  outline: none;
  margin-right: auto;
  width: 95%;
  border: none;
}

.custom-form h2 {
  font-weight: 500;
}

.custom-form input[type="file"] {
  border: none;
}

.blog-post,
.comment,
.comment-thumbnail {
  width: 85vw;
  background: var(--background);
  padding: 10px;
  border: var(--extremely-light-border-color) 1px solid;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--light-text);
}

.blog-post {
  width: min-content;
  padding: 6px;
}

.comment a {
  color: var(--light-text);
}

.blog-post h2 {
  margin: 5px auto;
  text-align: center;
  font-weight: 500;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 278px;
  font-size: var(--navbar-font-size);
}

.link-comment {
  color: var(--light-text);
  text-decoration: none;
}

.comment {
  width: 85vw;
  max-width: 550px;
}

#blog-post h2 {
  margin-top: 90px;
}

.comment-reply {
  margin-left: 50px;
  width: calc(85vw - 50px);
}

.comment .top-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.unread {
  border: var(--accent) 2px solid;
}

.comment-thumbnail p {
  width: 90%;
  overflow-wrap: break-word;
}

h1 {
  margin-top: 50px;
  font-weight: 300;
  font-size: var(--header-font-size);
  text-align: center;
  color: var(--light-text);
}

h2 {
  color: var(--light-text);
  font-weight: 300;
}

h3 {
  color: var(--light-text);
  font-weight: 400;
  margin: 0 auto;
  margin-top: 20px;
  font-style: italic;
}

.info-user-box {
  display: flex;
  flex-direction: row;
  gap: 5px;
}
.info-user-box img {
  width: 30px;
  border-radius: 50%;
}

.info {
  display: flex;
  flex-direction: row;
  font-weight: 300;
  width: 100%;
  justify-content: space-around;
  max-width: 300px;
}

.info p {
  margin: 5px;
}
p {
  color: var(--light-text);
}

.list {
  padding: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  padding-bottom: 10px;
}

.username-box-padding {
  padding: 10px;
  text-wrap: nowrap;
}

.reaction-button {
  border: none;
}

.feed-advertisement {
  height: 288px;
  width: 264px;
  border-radius: 10px;
  border: var(--accent) 2px solid;
  background: var(--primary);
  display: flex;
  align-items: center;
  justify-content: center;
}

.feed-advertisement a {
  text-decoration: none;
  color: var(--light-text);
  font-style: italic;
}

.feed,
#create-post,
#error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px auto;
  gap: 20px;
}

.flex-vertical {
  display: flex;
  flex-direction: column;
}

.feed {
  width: 90%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1300px;
}

.hint {
  margin: 10px 0;
  width: 100%;
}

.blog-post a {
  text-decoration: none;
  color: var(--dark-text);
}

#landing-page {
  background-image: linear-gradient(
    45deg,
    hsl(210deg 3% 13%) 0%,
    hsl(212deg 3% 12%) 8%,
    hsl(213deg 3% 12%) 17%,
    hsl(215deg 3% 11%) 25%,
    hsl(217deg 3% 11%) 33%,
    hsl(219deg 3% 10%) 42%,
    hsl(221deg 3% 9%) 50%,
    hsl(224deg 3% 9%) 58%,
    hsl(226deg 3% 8%) 67%,
    hsl(229deg 3% 8%) 75%,
    hsl(232deg 3% 7%) 83%,
    hsl(236deg 3% 6%) 92%,
    hsl(240deg 4% 5%) 100%
  );
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

#landing-page h1 {
  font-size: var(--landing-page-header);
  padding: 0 20px;
}

.info-box p,
.info-box h2 {
  text-align: center;
}

#landing-page a,
#link-button,
.link-button {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  color: var(--light-text) !important;
  padding: 10px 15px;
  border: var(--tertiary) solid 1px;
  border-radius: 10px;
  font-size: var(--subtext-font-size);
  font-weight: 400;
}

#landing-page a {
  background: var(--page-background);
  border: none;
}

.info-box:last-of-type {
  border: none;
  height: 44vh;
}

.info-box {
  min-height: 38vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: var(--accent) 1px solid;
}

.text-based-page {
  font-size: 17px;
  letter-spacing: 0.025em;
  line-height: 1.3em;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}

.text-based-page p {
  text-align: left;
}

.paginator {
  justify-content: center;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  width: min-content;
}

.paginator input {
  border-radius: 10px;
  border: 1px solid var(--primary);
  padding: 2px 5px;
  width: 5ch;
}

.paginator button {
  width: 5ch;
  color: var(--light-text);
  padding: 6px 20px;
  background: var(--tertiary);
  border: 0px;
  border-radius: 10px;
  font-size: var(--subtext-font-size);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
  appearance: textfield;
}

.default-page {
  margin: 0 auto;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}

ul {
  padding: 0;
}

.text-based-page li {
  margin-bottom: 10px;
}

.centered-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#login form {
  display: flex;
  align-items: center;
  flex-direction: center;
}

#login {
  padding-top: 30px;
  padding-bottom: 30px;
  align-self: center;
  align-items: center;
}

#toggle-visibility {
  margin-left: 10px;
  padding: 3px;
  background: none;
  border: none;
  width: 30px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#toggle-visibility path {
  width: 20px;
  height: 20px;
  font-size: 20px;
}

#toggle-visibility svg {
  color: var(--light-text);
}

.tertiary-accent {
  color: var(--tertiary);
}

.CodeMirror-cursor {
  border-color: var(--light-text) !important;
}

.cm-formatting,
.cm-comment {
  background: var(--page-background) !important;
}

.filler {
  height: 50px;
}

.filler-wrapper {
  margin: 0 auto;
}

.username-box svg {
  color: var(--tertiary);
}

#simplemde-editor-2-wrapper {
  width: 85vw;
  max-width: 900px;
}

#blog-post .blogpost-thumbnail {
  margin: 0 auto;
  margin-top: 20px;
}

input[type="file"] {
  padding: 4px;
  border-radius: 10px;
  border: var(--light-border-color) solid 1px;
}

input[type="file"]::file-selector-button {
  background: none;
  color: var(--accent);
  border: none;
  font-style: italic;
}

.editor-toolbar button:hover {
  background: none !important;
  border-color: var(--light-border-color) !important;
}

.editor-preview {
  background: var(--page-background) !important;
}

.active {
  background: none !important;
}

.blogpost-thumbnail-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.flex-space-between {
  justify-content: space-between;
}

p img {
  display: flex;
  margin: 0 auto;
}

@media (min-width: 650px) {
  .comment-reply {
    width: calc(550px - 50px);
  }
}

@media (min-width: 800px) {
  #create-post img,
  #blog-post img {
    max-width: 600px;
  }
  #blog-post {
    max-width: 800px;
  }

  .text-based-page {
    width: 60vw;
    max-width: 800px;
  }
  .custom-form {
    margin: 50px auto;
  }
  #register {
    width: 500px;
  }
  #login {
    margin: 50px auto;
    width: 400px;
    height: min-content;
  }

  textarea {
    width: 320px;
  }
  html,
  #root {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
  #root {
    display: flex;
    flex-direction: column;
  }

  #dashboard {
    margin: 0 auto;
    margin-bottom: 30px;
    width: 800px;
  }

  nav .link-list {
    width: 90%;
  }

  nav li {
    background: var(--page-background);
    width: 80%;
    border-radius: 10px;
    border: 1px solid var(--light-border-color);
    padding: 4px 5px;
    text-align: center;
    margin: 0 auto;
  }

  #root nav a {
    font-size: var(--link-font-size);
    color: var(--dark-text);
  }

  .list-section {
    width: 80%;
  }

  .comment-thumbnail {
    width: 450px;
  }

  .username-box {
    text-decoration: none;
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 8px;
    margin-bottom: 25px;
    background: var(--page-background);
    padding: 5px 3px;
    border-radius: 10px;
    border: 2px solid var(--accent);
  }

  .username-box span {
    color: var(--dark-text);
  }

  .info-bar-box {
    align-items: center;
  }
}

.reply-comment-form textarea {
  width: 100%;
}

.MuiPaper-root {
  background: var(--page-background) !important;
  border: var(--extremely-light-border-color) solid 1px;
  padding: 10px 0px;
}

@media (min-width: 1000px) {
  #register,
  #login {
    width: 600px;
  }
  .comment-thumbnail,
  .reply-comment-form {
    width: 550px;
  }
}

/*this is for centering purposes*/
@media (min-width: 1230px) {
  .text-based-page {
    margin: 0 auto;
  }
}
