@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --dark-text: #000000;
  --background: rgba(246, 247, 235, 0.65);
  --primary: #393e41;
  --secondary: #b6ccfe;
  --accent: #e94f37;
  --tertiary: #879e14;
  --light-text: #ffffff;
  --page-background: #ffffff;
  --header-font-size: 40px;
  --subheader-font-size: 32px;
  --navbar-font-size: 20px;
  --subtext-font-size: 20px;
  --text-size: 20px;
  font-family: "Raleway", "Times New Roman", Times, serif;
}
