h1 {
  font-weight: 400;
}

/*commented these out because they kept messing with markdown stuff */

/*img {*/
/*  width: 52px;*/
/*}*/

.likes {
  gap: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

/*p {*/
/*  width: 91vw;*/
/*  margin: 0 auto;*/
/*}*/

@media (min-width: 800px) {
  p {
    width: 100%;
  }
  #member-since {
    margin: 0;
  }
}
