.MuiSelect-select {
  border: 1px var(--light-border-color) solid;
  padding: 5px;
  font-size: inherit;
  border-radius: 10px !important;
}

.MuiMenuItem-root {
  color: var(--light-text);
  font-family: inherit;
  font-size: 13px;
}

.MuiInputBase-root,
.MuiInputBase-root svg {
  color: var(--light-text);
  font-family: inherit;
  font-size: 13px;
}

.MuiOutlinedInput-notchedOutline {
  border: none;
}

.post-form #title {
  outline: none;
  border: none;
  border-bottom: var(--light-border-color) solid 1px;
  background: none;
  padding-bottom: 4px;
  font-size: var(--subheader-font-size);
  display: block;
  width: 100%;
  max-width: 900px;
}

.post-form #thumbnail {
  width: 100%;
}

@media (min-width: 800px) {
  .post-form #thumbnail {
    width: 30%;
  }
}
