nav {
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--page-background);
  padding: 2px 8px;
  border-bottom: 1px solid var(--light-border-color);
  align-items: center;
}

nav .nav-username-box {
  background: var(--page-background);
  border-radius: 10px;
  border: 2px solid var(--accent);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 5px;
}

nav .nav-left {
  display: flex;
  flex-direction: row;
  gap: 7px;
}

nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 7px;
}

nav svg {
  color: var(--light-text);
}
nav li {
  padding: 6px 11px;
  border: var(--light-text) 1px solid;
  border-radius: 10px;
}

nav li,
nav a {
  display: flex;
  align-items: center;
  justify-content: center;
}

nav #pfp {
  border-radius: 50%;
  height: 35px;
  width: 35px;
}
