nav {
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--background);
  padding: 2px 8px;
  border: 1px solid var(--primary);
  border-radius: 10px;
  align-items: center;
}

nav span {
  font-size: var(--navbar-font-size);
}

nav #pfp {
  border-radius: 50%;
  height: 54px;
  width: 54px;
}

nav #burger-menu {
  width: 42px;
}

nav #menu-icon svg,
nav #menu-icon {
  width: 42px;
  height: 42px;
  padding: 0px;
}

nav button {
  background: none;
  border: none;
}

.link-list {
  margin: 0 auto;
  list-style: none;
}

.link-list li {
  margin-bottom: 30px;
}

#dialog-close-button {
  margin-left: auto;
}

.link-list li a {
  text-decoration: none;
  color: var(--dark-text);
  font-size: var(--navbar-font-size);
}
