.search-bar {
  width: 90%;
  max-width: 600px;
  margin: 0 auto;
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  justify-content: space-around;
}

.search-bar input {
  border-radius: 10px;
  border: var(--light-border-color) 1px solid;
  padding: 5px 10px;
  font-size: var(--text-size);
  height: 20px;
  width: 300px;
  transition-property: border;
  transition-duration: 140ms;
  transition-timing-function: linear;
  outline: none;
}

.search-bar input:hover {
  border: white 1px solid;
}

.search-bar button:hover {
  color: var(--tertiary);
}

.search-bar button {
  transition-property: color;
  transition-duration: 90ms;
  transition-timing-function: ease;
  border: none;
  width: min-content;
  margin: 5px;
}

.search-bar-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.search-bar input[type="text"] {
  font-style: italic;
}
